<h1>Calendar</h1>
<a class="btn btn-light btn-sm mb-3" routerLink="/newevent">New event</a>
<!-- <table class="table">
  <thead>
    <th scope="col">Organizer</th>
    <th scope="col">Subject</th>
    <th scope="col">Start</th>
    <th scope="col">End</th>
  </thead>
  <tbody>
    <tr *ngFor="let event of events">
      <td>{{event.organizer?.emailAddress?.name}}</td>
      <td>{{event.subject}}</td>
      <td>{{formatDateTimeTimeZone(event.start) | date:'short' : 'GMT' }}</td>
      <td>{{formatDateTimeTimeZone(event.end) | date: 'short' : 'GMT' }}</td>
    </tr>
  </tbody>
</table> -->

<br>

<full-calendar [options]="calendarOptions"></full-calendar>

<br><br>