<div style="align: center; text-align:center;">
  <img src="./assets/mainlogo.png" alt="mainlogo" style="width:250px;height:200px;">
    <h1>Smart Interview Scheduler</h1>
    <p class="lead">Smart Interview Scheduler is a side-by-side calendar comparison makes it easy to schedule interviews with multiple participants. </p>
    <div *ngIf="authenticated; then welcomeUser else signInPrompt"></div>
    <ng-template #welcomeUser>
      <h4>Welcome {{ user != null ? user.displayName : '' }}!</h4>
      <p>Use the navigation bar at the top of the page to get started.</p>
    </ng-template>
    <ng-template #signInPrompt>
      <button class="btn btn-primary btn-large" role="button" (click)="signIn()">Click here to sign in</button>
    </ng-template>
  </div>