<h1>New event</h1>
<form (ngSubmit)="onSubmit()" #newEventForm="ngForm">
  <div class="form-group">
    <label for="subject">Subject</label>
    <input type="text" class="form-control" id="subject" required [(ngModel)]="model.subject" name="subject"
      [formControl]="subjectInput">
    <!-- <div [hidden]="name.valid || name.pristine" class="alert alert-danger">Subject is required</div> -->
  </div>
  <div class="form-group">
    <label for="attendees">Attendees</label>
    <input type="text" class="form-control" id="attendees"
      placeholder="Enter one or more email addresses (separated with a ;) to add attendees"
      [(ngModel)]="model.attendees" name="attendees" [formControl]="attendeesInput">
  </div>
  <div class="form-row">
    <div class="col">
      <div class="form-group">
        <label for="start">Start</label>
        <input type="datetime-local" class="form-control" id="start" required [(ngModel)]="model.start" name="start"
          [formControl]="startInput">
        <!-- <div [hidden]="name.valid || name.pristine" class="alert alert-danger">Start is required</div> -->
      </div>
    </div>
    <div class="col">
      <div class="form-group">
        <label for="end">End</label>
        <input type="datetime-local" class="form-control" id="end" required [(ngModel)]="model.end" name="end"
          [formControl]="endInput">
        <!-- <div [hidden]="name.valid || name.pristine" class="alert alert-danger">End is required</div> -->
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="location">Location</label>
    <input type="text" class="form-control" id="location" [(ngModel)]="model.location" name="location"
      [formControl]="locationInput">
  </div>
  <div class="form-group">
    <label for="candidateName">Candidate Name</label>
    <input type="text" class="form-control" id="candidateName" [(ngModel)]="model.candidateName" name="candidateName"
      [formControl]="candidateNameInput">
  </div>
  <div class="form-group">
    <label for="jobTitle">Job Title</label>
    <input type="text" class="form-control" id="jobTitle" [(ngModel)]="model.jobTitle" name="jobTitle"
      [formControl]="jobTitleInput">
  </div>
  <div class="form-group">
    <label for="interviewer">Interviewer</label>
    <input type="text" class="form-control" id="interviewer" [(ngModel)]="model.interviewer" name="interviewer"
      [formControl]="interviewerInput">
  </div>
  <div class="form-group">
    <label for="scheduledBy">Scheduled By</label>
    <input type="text" class="form-control" id="scheduledBy" [(ngModel)]="model.scheduledBy" name="scheduledBy"
      [formControl]="scheduledByInput">
  </div>
  <!-- <div class="form-group">
    <label for="body">Body</label>
    <textarea class="form-control" id="body" rows="4"
              [(ngModel)]="model.body" name="body"
              #name="ngModel"></textarea>
  </div> -->
  <button type="submit" class="btn btn-primary mr-2" [disabled]="!newEventForm.form.valid">Create</button>
  <button type="button" class="btn btn-primary mr-2" (click)="downloadAsExcel()">Download as Excel</button>
  <a class="btn btn-secondary" routerLink="/calendar">Cancel</a>
</form>

<br><br>